.friends-display {
  text-align: center;
  background-color: rgb(241, 238, 238);
  padding: 12px 0px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}

.friends-display i {
  transition: all 0.3s ease-in-out;
  color: rgb(167, 159, 159);
}

.friends-display:hover {
  background-color: var(--yellow);
}

.friends-display:hover i {
  color: black;
}

.main-screen__channel {
  margin-top: 28px;
  padding-top: 26px;
  border-top: 1px solid rgb(207, 202, 202);
}

.main-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.6;
}

.splash-screen {
  background-color: var(--yellow);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplashScreen 1s forwards;
  animation-delay: 2s;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
