.settings__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px 0px;
}

.settings__item i {
  margin-right: 24px;
  font-size: 22px;
}

.settings__item span {
  font-size: 18px;
}

.settings__column:last-child {
  opacity: 0.4;
}
