.nav {
  padding: 24px 40px;
  background-color: #faf6f6;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav .nav__link {
  position: relative;
  font-size: 22px;
  cursor: pointer;
}

.nav .nav__notification {
  background-color: rgb(226, 59, 30);
  display: flex;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: -14px;
  right: -14px;
  font-size: 18px;
}
