.user-components,
.user-components__column:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-components__avatar {
  height: 70px;
  width: 70px;
  border-radius: 35%;
  margin-right: 20px;
}

.user-components__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-components__avatar--sm {
  width: 70px;
  height: 70px;
}

.user-components__title {
  font-size: 20px;
}

.user-components__subtitle {
  margin-top: 6px;
  opacity: 0.6;
}

.user-components__column:last-child {
  color: rgb(134, 129, 129);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-components__title {
  font-weight: 600;
}

.user-components__title--not-bold {
  font-weight: 400;
}

.user-components__subtitle i {
  margin-left: 10px;
  font-size: 18px;
  color: rgb(236, 77, 77);
}

.user-components__time {
  display: block;
  margin-bottom: 10px;
}

.more-screen .user-components__column:last-child {
  color: rgb(20, 20, 20);
}
